body{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100% 50px;
  padding: 0;
  margin: 0;
  min-width: 400px;
}

a {
  text-decoration: none;
}

a:link {
  color: black;  
}

a:visited {
  color: black;
}

a:active {
  color: black;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

/* BARRA SUPERIOR*/

.bloc1{
  display: grid;
  grid-template-columns: 1fr 5fr 10fr 1fr 10fr;
  grid-template-areas: "icon" "tipos"   "barra_pesquisa"   "icone_pesquisa"   "cadastrar";
  background-color: rgb(240, 240, 240);
  padding: 12px;
  padding-left: 20px;
  line-height: 1.5;
  text-decoration-color: black;
  position: fixed;
  width: 100%;
  min-width: 400px;
}
 .icon{
   text-align: right;
   padding-right: 10px;

 }

.tipos{
  margin-right: 10px;
}

.barra_pesquisa{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.barra_pesquisa input{
  position: static;
  height: 25px;
  width: 97%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgb(194, 194, 194);
  padding-left: 10px;
  margin-right: 10px;
}


.icone_pesquisa{
  padding: 3px;
  padding-left: 10px;
  text-align: center;
  display: none;
}

@media (min-width:450px){
  .icone_pesquisa{
    display: block;
  }
}

.home{
  grid-column: 4 / 6;
  text-decoration-line: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 30px;
}

@media (min-width:450px){
  .home{
    grid-column: 5 / 6;
  }
}

/* CADASTRO */

.bloc2{
  margin-top: 54px;
}

/*BARRA INFERIOR*/

.bloc3{
  background-color: rgb(240, 240, 240);
}